.contProject {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-family: Space Mono;
  margin-bottom: 15rem;
}

.contTitle {
  width: 80%;
  border-bottom: 2px solid #fb2576;
  color: #ddb9a5;
}

/* .contDescription {
  width: 80%;
  margin: 4rem 0 2rem 0;
  text-align: start;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.contCardProyect {
  backdrop-filter: invert(20%);
  border: 1px solid #ffffff;
  border-radius: 8px;
  padding: 8px;
  width: 80%;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
}

.contCardProyect:hover {
  transform: scale(1.05);
}

.ContTitleCard {
  height: 80px;
}

.titleCard {
  font-size: 28px;
}

.titleCard:hover {
  color: #fb2576;
}

.textCard {
  font-size: 20px;
} */


.contCards{
  /* border: 1px solid red; */
  width: 80%;
  margin-top: 3rem;
}

.contCardOne{
  /* border: 1px solid white; */
  display: flex;
}

.contTexts{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.cardDescription{
  width: 70%;
  text-align: start;
}

.imgIcons{
  height: 15rem;
}

.contCardTwo{
  display: flex;
  flex-direction: row-reverse;
  margin-top: 2rem;
}

.contTextsTwo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.contTextsTwo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.cardDescriptionTwo{
  width: 70%;
  text-align: end;
}




@media (max-width: 480px) {
  .contDescription {
    width: 90%;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .contCardProyect {
    width: 90%;
  }
}




@media screen and (min-width: 481px) and (max-width: 766px) {
  .contDescription {
    width: 90%;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .contCardProyect {
    width: 70%;
  }
}
