.contProject{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-family: Space Mono;
    margin-bottom: 15rem;
}

.contTitle{
    /* padding-top: rem; */
    width: 80%;
    border-bottom: 2px solid #FB2576;
    color: #DDB9A5
}

.contDescription{
    width: 70%;
    margin: 4rem 0 2rem 0;
    text-align: start;
}

@media (max-width: 480px){
    .contDescription{
        width: 90%;
        /* margin: 2rem 0 2rem 0; */
    }
}