.contCard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
}

.contInfo{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    /* width: 30%; */
    height: max-content;
}

.name{
    font-size: 20px;
    /* height: 50px; */
    /* border: 1px solid yellow; */
}

.contSocial{
    display: flex;
}

.icon{
    margin: 0 .5rem 0 0;
}

@media (max-width: 480px){
    .contCard{
        margin-bottom: 1.5rem;
    }
}

@media screen and (min-width:480px) and (max-width:649px){

    .contCard{
        
        margin-bottom: 2rem;
    }

}


@media screen and (max-width:479px){

    .contCard{
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
        gap: 15px;
    }

}