.contRoadmap{
    margin-top: 3rem;
    /* margin-bottom: 3rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-family: Space Mono;

}

.contTitle{
    width: 80%;
    border-bottom: 2px solid #FB2576;
    color: #DDB9A5
}

.contRoad{
    margin: 2rem 0 2rem 0;
    display: flex;
    justify-content: center;
    /* align-items: flex-start; */
    width: 80%;
}

.contLeft, .contRight{
    width: 50%;
}

.contRight{
    padding-top: 16rem;
    padding-left: 3rem;

    display: flex;
    flex-direction: column;
    justify-content: center;

}

.contLeft{
    margin-top: 3rem;
    padding-right: 3rem;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    border-right: 5px solid #FB2576;


}

.contCardRoad{
    width: 80%;
    margin-top: 5rem;
    text-align: end;
}

.contCardRoadR{
    width: 80%;
    margin-bottom: 9rem;
    text-align: start;

}


@media screen and (min-width:481px) and (max-width:950px){
    .contRoad{
        width: 90%;
        margin-left: 0;
    }

    .contRight{
        padding-left: .7rem;
    }

    .contLeft{
        padding-right: .7rem;
    }

    .contCardRoad, .contCardRoadR{
        width: 90%;
    }
}