.contContact{
    margin: 3rem 0 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-family: Space Mono;
}

.contTitle{
    width: 80%;
    border-bottom: 2px solid #FB2576;
    color: #DDB9A5
}

.contInfo{
    margin: 7rem 0 3rem 0;
    display: flex;
    justify-content: space-around;

    width: 80%;

}

.contMeta{
    /* border: 1px solid red; */
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contBtns{
    /* border: 1px solid yellow; */
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.btnHome{
    background-color: #3F0071;
    border: 0;
    padding: .6rem 1.5rem .6rem 1.5rem;
    border-radius: 20px;
}

.btnHome:hover{
    background-color: #7000CC;
    box-shadow: 1px 1px 2px 1px #000;
}

.aux{
    text-decoration: none;
    color: #fff;
  }

.aux:hover{
    color: #fff;
}

@media (max-width: 480px){
    .contInfo{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
    }

    .contMeta{
        margin-top: 2rem;
        width: 100%;
    }

    .contBtns{
        flex-direction: column;
        margin-top: 1rem;
        height: 20vh;
    }
}

@media screen and (min-width:830px) and (max-width:950px){
    .contInfo {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contMeta{
        margin-top: 2rem;
        border: 1px solid red;
        width: 90%;
    }

    .contBtns{
        margin-top: 2rem;
        width: 70%;
        border: 1px solid red;
    }
}


@media screen and (min-width:600px) and (max-width:829px){
    .contInfo {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contMeta{
        margin-top: 2rem;
        /* border: 1px solid red; */
        width: 90%;
    }

    .contBtns{
        margin-top: 2rem;
        width: 95%;
        /* border: 1px solid red; */
    }
}

@media screen and (min-width:480px) and (max-width:599px){
    .contInfo {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contMeta{
        margin-top: 2rem;
        /* border: 1px solid red; */
        width: 100%;
    }

    .contBtns{
        margin-top: 2rem;
        width: 100%;
        /* border: 1px solid red; */
    }
}